.category-preview-title {
	font-size: xxx-large;
	margin-left: 10%;
	margin-bottom: 25px;
	cursor: pointer;
}

.category-preview-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	margin-bottom: 100px;

	.preview {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 30px;
	}
}
